<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagina</title>
    <link rel="stylesheet" href="StyleSheet.css"
</head>
<body>
    <h1>Mi revista cientifica</h1>
    <header class="header">
        <div class="menu container">

            <label for="menu">

            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Index.cshtml">Inicio</a></li>
                    <li><a href="Privacy.cshtml">Catalogo</a></li>


                </ul>
            </nav>
        </div>

    </header>

    <section class="popular container">
        <h2>Bienvenido a mi revista científica</h2>
        <h3>Aqui encontrarás las mejores revistas cientificas y de divulgación al mejor precio</h3>

        <div class="popular-content">
            <img src="image/h1.jpg" alt="" />
        </div>

    </section>
    <h3>Elaborado por: Bianca Asuncion Cruz Cruz</h3>
</body>
</html>