body {
    .header {
        background-color: orange;
        /* Ajusta el padding según sea necesario */
        color: white; /* Color del texto dentro de la barra */

        background-position: center center;
    }

    ul {
        list-style-type: none;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 10px 370px;
    }

    .popular-content {
        display: flex;
        justify-content: center;
    }

    li {
        float: left;
        justify-content: center;
    }

    li a {
        justify-content: center;
        display: block;
        color: black;
        text-align: center;
        padding: 16px 110px;
        text-decoration: none;
    }

    li a:hover {
        background-color: white;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .section {
        background-image: none;
    }

    .catalogo {
        display: flex;
        justify-content: space-around; /* Espacio alrededor de los elementos */
        align-items: center; /* Alinea los elementos verticalmente */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    }

    .item {
        text-align: center;
        margin: 20px;
    }

    .item img {
        max-width: 200px; /* Ajusta el ancho máximo de la imagen */
    }

    button {
        padding: 10px 16px;
        text-decoration: none;
        background-color: grey;
        color: #fff;
        border: none;
        text-decoration-line: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .contenedor-producto {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }

    .contenedor-producto img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    label {
        color: #333; /* Cambia el color del texto */
        font-size: 16px; /* Cambia el tamaño de la fuente */
        font-weight: bold; /* Cambia el peso de la fuente a negrita */
        text-transform: uppercase; /* Cambia el texto a mayúsculas */
        /* Otros estilos que desees aplicar */
        text-align: center;
    }








    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 50%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    input[type="submit"] {
        background-color: #3498db;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #2980b9;
    }

    input[type="button"] {
        background-color: #3498db;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 16px;
        font-weight: bold;
    }

    input[type="button"]:hover {
        background-color: #2980b9;
    }

    .carrito {
        display: none; /* El carrito se muestra solo después de iniciar sesión */
    }

    .pago {
        display: none; /* El carrito se muestra solo después de iniciar sesión */
    }
}
